<div class="column">
  <div class="column__top">
    <h3 *ngIf="!editMode" class="column__title" (click)="turnOnEditMode()"
      title="{{ 'boards.columnTitleHint' | translate:locale.language }}">{{columnData.title}}</h3>
    <button mat-button class="column__btn--delete" (click)="handleDeleteColumn()" *ngIf="!editMode"
      matTooltip="{{ 'boards.columnBtnDeleteHint' | translate:locale.language }}">
      <mat-icon class="column__btn--delete">delete</mat-icon>
    </button>
  </div>

  <form [formGroup]="editTitleForm" *ngIf="editMode">
    <mat-form-field class="column__title--edit" appearance="outline">
      <input matInput type="text" formControlName="columnTitle" class="column__title--input"
        autofocus>
      <button mat-button (click)="saveColumnTitle()" [disabled]="editTitleForm.invalid" type="button">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-button (click)="openConfirmationDialog()">
        <mat-icon>cancel</mat-icon>
      </button>
      <mat-error
        *ngIf="editTitleForm.controls['columnTitle'].errors && editTitleForm.controls['columnTitle'].errors['required']"
        l10nTranslate>
        boards.columnErrorTitle
      </mat-error>
    </mat-form-field>
  </form>
  <div class="button-wrapper">
    <button mat-button (click)="openCreateDialog()" l10nTranslate>
      <mat-icon>add</mat-icon> boards.columnCreateTask
    </button>
  </div>

  <ng-content></ng-content>
</div>
