<div class="column">
  <h3 *ngIf="!editMode" class="column__title" (click)="turnOnEditMode()">{{title}}</h3>
  <form [formGroup]="editTitleForm" *ngIf="editMode">
    <mat-form-field class="column__title--edit" appearance="outline">
      <input matInput type="text" formControlName="columnTitle" class="column__title--input"
        autofocus>
      <button mat-button (click)="saveColumnTitle()">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-button (click)="openConfirmationDialog()">
        <mat-icon>cancel</mat-icon>
      </button>
      <mat-error
        *ngIf="editTitleForm.controls['columnTitle'].errors && editTitleForm.controls['columnTitle'].errors['required']">
        Please enter a column title
      </mat-error>
    </mat-form-field>
  </form>
  <button mat-button>
    <mat-icon>add</mat-icon> Create new task
  </button>
  <app-task></app-task>
</div>