<div class="column">
  <h3 *ngIf="!editMode" class="column__title">{{title}}</h3>
  <form [formGroup]="editTitleForm">
    <mat-form-field class="column__title column__title--edit">
      <input matInput type="text" formControlName="columnTitle">
      <mat-error
        *ngIf="editTitleForm.controls['columnTitle'].errors && editTitleForm.controls['columnTitle'].errors['required']">
        Please enter a column title
      </mat-error>
    </mat-form-field>
  </form>
  <button mat-button>
    <mat-icon>add</mat-icon> Create new task
  </button>
  <div class="column__task">
    <h2>task header</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet perspiciatis eum ad culpa
      quos exercitationem</p>
  </div>
</div>