$marker-color: #77dd77;

.welcome__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 86vh;
}

.project__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.project__logo {
  object-fit: contain;
}

.project__work {
  object-fit: contain;
  width: 40%;
}

.logo__text {
  align-self: center;
  font-size: 1.3rem;
  padding: 20px;
  width: 80%;
  line-height: 2rem;
  text-align: center;
}

.tabs__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabs__item {
  margin-top: 10px;
  font-size: 1.3rem;
  &::marker {
    color: $marker-color;
  }
}

.tabs {
  height: 50vh;
}

.team__avatar {
  width: 40%;
  border-radius: 30%;
  margin-bottom: 10px;
}

.team__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.team__card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  margin-top: 10px;
}

.courses__info {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
  }

  &__card {
    width: 40%;
    margin: 10px;
  }
}

.courses {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
  }

  &__btn {
    background-color: $marker-color;
    height: 20px;
    width: 50px;
  }
}

.courses_title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3rem;
  line-height: 2rem;
}

.courses__card {
  &__title {
    text-align: center;
    color: #535df2;
  }

  &__text {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    text-indent: 1rem;
  }

  &__text_li {
    &::marker {
      color: $marker-color;
    }
  }
}
