<div class="welcome__wrapper">
  <div class="project__wrapper">
    <div>
      <img src="../../../../assets/Logo.jpg" alt="project logo" class="project__logo">
      <div class="logo__text">This app will help you and your team plan your work better. Break down large tasks into smaller ones, track their progress and achieve success.</div>
    </div>
    <img src="../../../../assets/welcome-img-work.png" alt="work" class="project__work">
  </div>
  <mat-tab-group mat-align-tabs="center" class="tabs">
    <mat-tab label="Opportunities">
      <div class="tabs__items">
        <img src="../../../../assets/advantages-img.png" alt="work" class="project__work">
        <ul>
          <li class="tabs__item">Create boards for your tasks</li>
          <li class="tabs__item">Break big tasks into small ones</li>
          <li class="tabs__item">Transfer tasks between the columns of the board</li>
          <li class="tabs__item">Assign task performers</li>
          <li class="tabs__item">Search by task boards or performers</li>
        </ul>
      </div>
    </mat-tab>
    <mat-tab label="About the team">
      <div class="team__wrapper">
        <div class="team__card">
          <img src="../../../../assets/SokolW.jpg" alt="Vadim Sokolov photo" class="team__avatar">
          <p class="team__name">Vadim Sokolov</p>
          <p class="team__description">description</p>
        </div>
        <div class="team__card">
          <img src="../../../../assets/v-yelina.jpg" alt="Valiantsina Yelina photo" class="team__avatar">
          <p class="team__name">Valiantsina Yelina</p>
          <p class="team__description">description</p>
        </div>
        <div class="team__card">
          <img src="../../../../assets/oreskag.png" alt="Stepan Volkov photo" class="team__avatar">
          <p class="team__name">Stepan Volkov</p>
          <p class="team__description">description</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="About courses">
      <div class="courses__wrapper">
        <div class="courses_title">Angular Course</div>
        <div class="courses_title">Free | Online | in English</div>
        <div class="courses__info__wrapper">
          <div class="courses__info__card">
            <div class="courses__card__title">FREE-OF-CHARGE LEARNING</div>
            <div class="courses__card__text">The RS School is working by the principle of "Pay it forward". Members of our community share their knowledge and check students' tasks for free. And we hope that our students will continue this work as our mentors in the future.</div>
          </div>
          <div class="courses__info__card">
            <div class="courses__card__title">CERTIFICATE</div>
            <div class="courses__card__text">After accomplishing all three stages of education, students will receive an electronic certificate of completion.</div>
          </div>
          <div class="courses__info__card">
            <div class="courses__card__title">OPEN TO EVERYONE</div>
            <div class="courses__card__text">Everyone can study at RS School, regardless of age, professional employment, or place of residence. However, you should have sufficient base knowledge before the program begins.</div>
          </div>
          <div class="courses__info__card">
            <div class="courses__card__title">SCHEDULE</div>
            <div class="courses__card__text">
              <ul>
                <li class="courses__card__text_li">Twice a week in the evenings.</li>
                <li class="courses__card__text_li">Duration: 9 weeks.</li>
                <li class="courses__card__text_li">Types of training: webinars.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
