$title-color: #5d4037;
$done-color: #2e7d32;
$warn-color: #b71c1c;

.task {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 5px;

  &__title {
    margin: 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $title-color;
    line-height: 1.5rem;

    &--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  &__description {
    font-size: 1rem;
    width: 100%;
    font-weight: 300;
    text-align: justify;
  }

  &__btn {
    align-self: flex-end;
  }
}

.points {
  &__container {
    border-top: 1px solid rgba(0, 0, 0, 0.071);
    padding: 10px 5px;
  }

  &__progress {
    &--title {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.point {
  &--done {
    color: $done-color;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    &:hover {
      cursor: pointer;
    }
  }

  &--not-ready {
    color: $warn-color;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    &:hover {
      cursor: pointer;
    }
  }
}
