<h2>Edit profile</h2>
<form [formGroup]="editProfileForm" class="edit-profile">
  <mat-form-field class="example-full-width" appearance="outline">
    <label for="name" class="edit-profile__label">Name</label>
    <input matInput formControlName="name" required class="edit-profile__input">
    <mat-error *ngIf="editProfileForm.controls['name'].hasError('required')">
      Please enter your name
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <label for="login" class="edit-profile__label">Email</label>
    <input matInput formControlName="login" required class="edit-profile__input">
    <mat-error *ngIf="editProfileForm.controls['login'].hasError('required')">
      Please enter your email
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <label for="password" class="edit-profile__label">Password</label>
    <input [type]="hide ? 'password' : 'text'" matInput formControlName="password"
      class="edit-profile__input" />
    <button mat-icon-button matSuffix (click)="toggleHide($event)"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="hide__btn">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="editProfileForm.controls['password'].hasError('required')">
      Please enter your password
    </mat-error>
    <mat-error
      *ngIf="editProfileForm.controls['password'].hasError && !editProfileForm.controls['password'].hasError('required')">
      Your password isn't strong enough:
      at least 8 characters,
      a mixture of both uppercase and lowercase letters,
      a mixture of letters and numbers,
      at least one special character, e.g., ! @ # ?
    </mat-error>
  </mat-form-field>
  <div class="edit-profile__buttons">
    <button mat-raised-button type="submit" color="primary"
      class="edit-profile__btn edit-profile__btn--edit"
      (click)="openConfirmationDialogSave()">Save</button>
    <button mat-raised-button type="button" class="edit-profile__btn edit-profile__btn--cancel"
      (click)="openConfirmationDialogExit()">Cancel</button>
  </div>
</form>
<button mat-raised-button type="button" class="delete-user"
  (click)="openConfirmationDialogDelete()">Delete
  user</button>