<div class="sign-up__page">
  <div class="sign-up__container">
    <div class="sign-up__top">
      <h2 class="sign-up__title" l10nTranslate>signUp.title</h2>
      <p class="sign-up__text" l10nTranslate>
        signUp.question <a [routerLink]="['/', 'login', 'signin']" l10nTranslate>signUp.answer</a>
      </p>
    </div>
    <form class="sign-up__form" [formGroup]="signUpForm" novalidate (ngSubmit)="submit()">
      <mat-form-field class="form__input" appearance="fill">
        <mat-label l10nTranslate>signUp.name</mat-label>
        <input type="text" matInput formControlName="name"
          placeholder="{{ 'signUp.namePH' | translate:locale.language }}" autocomplete="false" />
        <mat-error *ngIf="displayFormControlErrorMessage('name', 'required')" l10nTranslate>
          signUp.nameErrorRequired
        </mat-error>
        <mat-error *ngIf="displayFormControlErrorMessage('name', 'maxlength')" l10nTranslate>
          signUp.nameErrorLong
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__input" appearance="fill">
        <mat-label l10nTranslate>signUp.email</mat-label>
        <input type="email" matInput formControlName="login"
          placeholder="{{ 'signUp.emailPH' | translate:locale.language }}" />
        <mat-error *ngIf="displayFormControlErrorMessage('login', 'required')" l10nTranslate>
          signUp.emailErrorRequired
        </mat-error>
        <mat-error *ngIf="displayFormControlErrorMessage('login', 'email')" l10nTranslate>
          signUp.emailErrorInvalid
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__input" appearance="fill">
        <mat-label l10nTranslate>signUp.password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput formControlName="password"
          placeholder="{{ 'signUp.passwordPH' | translate:locale.language }}"
          (blur)="fixStyles($event)" />
        <button type="button" mat-icon-button matSuffix (mousedown)="toggleHide()"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="hide__btn">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="displayFormControlErrorMessage('password', 'required')" l10nTranslate>
          signUp.passwordErrorRequired
        </mat-error>
        <mat-error *ngIf="displayFormControlErrorMessage('password', 'minlength')" l10nTranslate>
          signUp.passwordErrorLength
        </mat-error>
        <mat-error *ngIf="displayFormControlErrorMessage('password', 'capitalAndSmallCase')"
          l10nTranslate>
          signUp.passwordErrorCase
        </mat-error>
        <mat-error *ngIf="displayFormControlErrorMessage('password', 'lettersAndNumbers')"
          l10nTranslate>
          signUp.passwordErrorNumber
        </mat-error>
        <mat-error *ngIf="displayFormControlErrorMessage('password', 'specialCharacter')"
          l10nTranslate>
          signUp.passwordErrorSpecial
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__input" appearance="fill">
        <mat-label l10nTranslate>signUp.passwordRepeat</mat-label>
        <input [type]="hideRepeat ? 'password' : 'text'" matInput formControlName="repeatPassword"
          placeholder="{{ 'signUp.passwordPH' | translate:locale.language }}"
          [errorStateMatcher]="passwordEqualsMatcher" />
        <button type="button" mat-icon-button matSuffix (mousedown)="toggleHideRepeat()"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeat" class="hide__btn">
          <mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="displayFormControlErrorMessage('repeatPassword', 'required')"
          l10nTranslate>
          signUp.passwordRepeatErrorRequired
        </mat-error>
        <mat-error *ngIf="
            signUpForm.getError('passwordEquals') &&
            !displayFormControlErrorMessage('repeatPassword', 'required')
          " l10nTranslate>
          signUp.passwordRepeatErrorEqual
        </mat-error>
      </mat-form-field>
      <div class="sign-up__button">
        <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid"
          l10nTranslate>
          signUp.btn
        </button>
      </div>
    </form>
  </div>
  <img src="../../../../assets/img/registration.jpg" alt="signup" class="sign-up__image">
</div>