<mat-toolbar class="footer" color="primary">
  <footer>
    <span>
      2022
    </span>
    <div class="github">
      <a href="https://github.com/v-yelina" class="github__link">
        <img src="../../../../assets/svg/github.svg" alt="github">
        Valiantsina Yelina
      </a>
      <a href="https://github.com/sokolw" class="github__link">
        <img src="../../../../assets/svg/github.svg" alt="github">
        Vadim Sokolov
      </a>
      <a href="https://github.com/OreskaG" class="github__link">
        <img src="../../../../assets/svg/github.svg" alt="github">
        Stepan Volkov
      </a>
    </div>
    <img src="../../../../assets/svg/rs_school_js.svg" alt="course logo" class="course-logo">
  </footer>
</mat-toolbar>