<mat-toolbar class="footer" color="primary">
  <footer>
    <span>
      2022
    </span>
    <div class="github">
      <a href="https://github.com/v-yelina" class="github__link" target="_blank" l10nTranslate>
        <img src="../../../../assets/svg/github.svg" alt="github">
        footer.name1
      </a>
      <a href="https://github.com/sokolw" class="github__link" target="_blank" l10nTranslate>
        <img src="../../../../assets/svg/github.svg" alt="github">
        footer.name2
      </a>
      <a href="https://github.com/OreskaG" class="github__link" target="_blank" l10nTranslate>
        <img src="../../../../assets/svg/github.svg" alt="github">
        footer.name3
      </a>
    </div>
    <a href="https://rs.school/angular/" class="rs-link" target="_blank">
      <img src="../../../../assets/svg/rs_school_js.svg" alt="course logo" class="course-logo">
    </a>
  </footer>
</mat-toolbar>
