.boards-page {
  height: 86vh;
  padding: 40px 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4.542%;
  row-gap: 30px;
  box-sizing: border-box;
  overflow: auto;

  &__btn--new-board {
    font-size: 2rem;
    width: 250px;
    height: 120px;
    padding: 20px;
  }
}
