/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
}

.mat-toolbar.mat-primary {
  background-color: #535DF2;
}

.mat-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  width: fit-content;
  margin: 0 auto;
}

.mat-tab-label-content {
  color: #535DF2;
  font-family: cursive;
  font-size: 1.5rem;
}

.mat-chip-list-wrapper {
  overflow: auto;
}
