@import '~@angular/material/theming';
@include mat-core();

/* ======== angular material custom theme ======== */
$my-custom-primary: mat-palette($mat-deep-purple);
$my-custom-accent: mat-palette($mat-brown, 100, 500, A100);
$my-custom-warn: mat-palette($mat-red);

// Light theme
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

// Dark theme
$my-custom-theme: mat-dark-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

// Main theme defination
@include angular-material-theme($my-custom-theme);
