<div mat-dialog-content>
  <h2 l10nTranslate>shared.createBoard</h2>
  <form class="create-board__form" [formGroup]="boardForm" novalidate>
    <mat-form-field class="form__input" appearance="fill">
      <mat-label l10nTranslate>shared.createBoardName</mat-label>
      <input
        type="text"
        autocomplete="false"
        matInput
        formControlName="name"
        placeholder="{{ 'shared.createBoardNamePH' | translate:locale.language }}"
      />
      <mat-error *ngIf="boardForm.controls['name'].hasError('required')" l10nTranslate>
        shared.createBoardErrorRequired
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__input" appearance="fill">
      <mat-label l10nTranslate>shared.inviteMembers</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let member of members" (removed)="remove(member)">
          {{ member }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="{{ 'shared.inviteMembersPH' | translate:locale.language }}"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field>
    <mat-error class="error__user-status" *ngIf="!userStatus.exist" [params]="{ name: userStatus.name }" l10nTranslate>
      shared.inviteMemberError
    </mat-error>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" l10nTranslate>shared.cancelBtn</button>
  <button
    mat-raised-button
    [mat-dialog-close]="getInputResults()"
    color="primary"
    [disabled]="boardForm.invalid"
    l10nTranslate
  >
  shared.createBtn
  </button>
</div>
