<h2>{{dialogType}} task</h2>
<form [formGroup]="editTaskForm" class="edit-form">
  <mat-form-field class="example-full-width" appearance="outline">
    <input matInput placeholder=" Title" value={{title}} formControlName="title" required>
    <mat-error *ngIf="editTaskForm.controls['title'].hasError('required')">
      Please enter task title
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <textarea matInput placeholder=" Description" value={{description}}
      formControlName="description" required rows="10"></textarea>
    <mat-error *ngIf="editTaskForm.controls['description'].hasError('required')">
      Please enter task description
    </mat-error>
  </mat-form-field>
  <div class="edit-form__buttons">
    <button mat-raised-button type="submit" color="primary"
      class="edit-form__btn edit-form__btn--edit" (click)="onConfirmClick()">Save</button>
    <button mat-raised-button type="button" class="edit-form__btn edit-form__btn--cancel"
      (click)="openConfirmationDialog()">Cancel</button>
  </div>
</form>