.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 10px;

  &__lang {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: max-content;
  }

  &__btn--new-board {
    height: max-content;
  }

  &__login {
    margin-left: auto;
  }

  .mat-form-field {
    max-width: 45px;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}
