<mat-toolbar class="header" color="primary">
  <mat-form-field *ngIf="isLogged">
    <select matNativeControl required class="header__lang">
      <option value="en">EN</option>
      <option value="ru">RU</option>
    </select>
  </mat-form-field>
  <button mat-raised-button color="accent" class="header__btn--new-board" *ngIf="isLogged">Create
    new board</button>
  <div class="header__user" *ngIf="isLogged">
    <button mat-button class="header__btn--profile" matTooltip="Edit profile"
      routerLink="/auth/profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-button class="header__btn--logout" matTooltip="Log out" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div class="header__login" *ngIf="!isLogged">
    <button mat-button class="header__btn--profile" matTooltip="Log in" routerLink="/auth/signin"
      *ngIf="!isLogged">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-button class="header__btn--logout" matTooltip="Create account"
      routerLink="/auth/signup" *ngIf=" !isLogged">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>