<mat-toolbar class="header" color="primary">
  <mat-form-field>
    <select matNativeControl required class="header__lang">
      <option value="en">EN</option>
      <option value="ru">RU</option>
    </select>
  </mat-form-field>
  <ng-container *ngIf="isLogged; else unlogged">
    <button mat-raised-button color="accent" class="header__btn--new-board">
      Create new board
    </button>

    <div class="header__user">
      <button
        mat-button
        class="header__btn--profile"
        matTooltip="Edit profile"
        routerLink="/login/profile"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-button class="header__btn--logout" matTooltip="Log out" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-template #unlogged>
    <div class="header__login" *ngIf="!isLogged">
      <button
        mat-button
        class="header__btn--profile"
        matTooltip="Log in"
        routerLink="/login/signin"
      >
        <mat-icon>login</mat-icon>
      </button>
      <button
        mat-button
        class="header__btn--logout"
        matTooltip="Create account"
        routerLink="/login/signup"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </ng-template>
</mat-toolbar>
