<mat-toolbar class="header" color="primary">
  <mat-form-field class="header__select">
    <select matNativeControl #langs required class="header__lang" (change)="setLocale()">
      <option value="EN" [selected]="lang === 'EN'">EN</option>
      <option value="RU" [selected]="lang === 'RU'">RU</option>
    </select>
  </mat-form-field>
  <ng-container *ngIf="isLogged && (isBoardsRoute || isSearchRoute)">
    <form class="search">
      <mat-form-field class="search__input" appearance="fill">
        <input type="search" #searchInput matInput placeholder="{{ 'header.taskSearchInputPH' | translate:locale.language }}" (keyup)="search()">
      </mat-form-field>
    </form>
  </ng-container>
  <ng-container *ngIf="isLogged && !isBoardsRoute">
    <button mat-raised-button color="accent" routerLink="/boards" l10nTranslate>
      header.btnBoards
    </button>
  </ng-container>
  <ng-container *ngIf="isLogged; else unlogged">
    <div class="header__user">
      <button mat-button class="header__btn--profile"
        matTooltip="{{ 'header.btnEditTooltip' | translate:locale.language }}"
        routerLink="/login/profile">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-button class="header__btn--logout"
        matTooltip="{{ 'header.btnLogOutTooltip' | translate:locale.language }}" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-template #unlogged>
    <div class="header__login" *ngIf="!isLogged">
      <button mat-button class="header__btn--profile"
        matTooltip="{{ 'header.btnLogInTooltip' | translate:locale.language }}"
        routerLink="/login/signin">
        <mat-icon>login</mat-icon>
      </button>
      <button mat-button class="header__btn--logout"
        matTooltip="{{ 'header.btnCreateTooltip' | translate:locale.language }}"
        routerLink="/login/signup">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </ng-template>
</mat-toolbar>

<div class="loading" *ngIf="isLoad">
  <mat-spinner></mat-spinner>
</div>
