<div class="sign-in__page">
  <div class="sign-in__container">
    <div class="sign-in__top">
      <h2 class="sign-in__title">Login</h2>
      <p class="sign-in__text">
        Dont't have an account? <a [routerLink]="['/', 'login', 'signup']">Sign Up</a>
      </p>
    </div>
    <form class="sign-in__form" [formGroup]="signInForm" novalidate (ngSubmit)="submit()">
      <mat-form-field class="form__input" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="login"
          placeholder="Enter your login email."
        />
        <mat-error *ngIf="displayFormControlErrorMessage('login', 'required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="displayFormControlErrorMessage('login', 'email')">
          The login email is invalid
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__input" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="Enter your password."
        />
        <mat-error *ngIf="displayFormControlErrorMessage('password', 'required')">
          Please enter a password
        </mat-error>
      </mat-form-field>

      <div class="sign-in__button">
        <button mat-raised-button color="primary" type="submit" [disabled]="signInForm.invalid">
          Sign In
        </button>
      </div>
    </form>
  </div>
</div>
